.sidebar {
	max-height: 1198px;
	padding: 36px 29px 76px 27px;

	@media (max-width: 767.98px) {
		position: fixed;
		transform: translateX(-100%);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		padding: 36px 27px;
		background-color: #fff;
		z-index: 100;
		transition: transform 0.3s ease;
	}

	&._active {
		@media (max-width: 767.98px) {
			transform: translateX(0);
		}
	}

	&__header {
		display: flex;
		align-items: center;
	}

	&__header-logo {
	}

	&__header-name {
		margin: 1px 4px 0 8px;
		font-weight: 600;
		font-size: 26px;
		letter-spacing: 0.01em;
	}

	&__header-version {
		font-size: 10px;
		color: #838383;
		align-self: end;
		transform: translateY(-2.5px);
	}

	&__nav {
		margin: 56.11px 0 589px;

		@media (max-width: 767.98px) {
			margin: 0;
			flex: 0 1 80%;
		}
	}

	&__nav-items {
		color: $sideTextColor;
	}

	&__nav-item {
		display: flex;
		align-items: center;
		padding: 11px 8px 11px 11px;
		transition: all 0.3s ease;
		cursor: pointer;

		& svg:first-child {
			margin-right: 14px;
		}

		&:not(:last-child) {
			margin-bottom: 17px;
		}

		&:hover {
			background-color: #5932ea;
			color: #fff;
			border-radius: 8px;
		}

		&._active {
			background: #5932ea;
			border-radius: 8px;
			color: #fff;
		}
	}

	&__user {
		display: flex;
		gap: 12px;
	}

	&__user-img {
	}

	&__user-info {
	}
}

.item__arrow {
	margin-left: auto;
}

.user {
	&__info {
		letter-spacing: 0.01em;
	}

	&__info-name {
		transform: translateY(2px);
	}

	&__info-position {
		font-size: 12px;
		font-weight: 400;
		color: #757575;
	}
}
