@import "null";
@import "fonts";
// =================================
$mainTextColor: #000;
$secondTextColor: #b5b7c0;
$sideTextColor: #9197b3;
$tableTextColor: #292d32;
// =================================

body {
	font-family: "Poppins";
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: $mainTextColor;
	letter-spacing: -0.01em;

	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 306px 1fr;

	@media (max-width: 767.98px) {
		grid-template-columns: 100%;
	}
}
// ===================================

@import "sidebar";
@import "main";
@import "burger";
// ===================================
